@import "tailwindcss";

@layer components {

  .navbar {
    @apply fixed top-0 w-full z-50 backdrop-blur-sm bg-transparent border-b border-gray-600/40;
  }

  .navbar-container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
    max-width: 90rem;                        
  }

  .navbar-inner {
    @apply flex justify-between items-center;
    height: clamp(3.5rem, 6vw, 5rem);        
  }

  .navbar-logo-container {
    @apply flex items-center space-x-2  cursor-pointer;
  }

  .navbar-logo {
    @apply mx-4;
    height: clamp(2rem, 2.5vw, 2.5rem);       
  }

  .navbar-links {
    @apply hidden md:flex items-center ml-72;
    gap: clamp(1rem, 3vw, 5rem);            
  }

  .navbar-link {
    @apply text-gray-400 transition-all duration-500 hover:text-white;
    font-size: clamp(0.8125rem, 1.2vw, 1rem); 
  }

  .navbar-actions {
    @apply flex justify-around items-center;
    gap: clamp(1.5rem, 3vw, 3rem);            
  }

  .navbar-icon-btn {
    @apply text-gray-400 transition-all duration-500 hover:text-white;
  }

  .navbar-icon {
    @apply cursor-pointer;
    width: clamp(1.125rem, 2vw, 1.5rem);    
    height: clamp(1.125rem, 2vw, 1.5rem);
  }

  .navbar-menu-btn {
    @apply md:hidden text-gray-400 transition-all duration-500 hover:text-white;
  }
}