@import "tailwindcss";

@layer components {
  .products-section {
    @apply w-full min-h-screen relative pt-15;
  }

  .products-container {
    @apply max-w-7xl mx-auto p-4 sm:p-6 lg:p-8;
  }

  .products-heading {
    @apply font-bold mb-1 text-center;
    font-size: clamp(1.25rem, 4vw, 2rem);
  }

  .products-grid {
    @apply flex flex-wrap justify-around gap-12 sm:gap-4 sm:gap-6 items-center relative top-15 sm:top-22 lg:top-25 ;
  }

  .product-card {
    @apply grid place-items-end rounded-4xl overflow-hidden  border-2 border-gray-600/30;
    width: clamp(14rem, 32vw, 20rem);
  }

  .product-image-wrap {
    @apply w-full overflow-hidden bg-black col-start-1 col-end-2 row-start-1 row-end-2;
    height: clamp(20rem, 28vw, 26rem);
  }

  .product-image {
    @apply w-full h-full object-cover transition-transform ease-in-out duration-500 hover:scale-105;
  }

  .product-info-wrapper {
    @apply col-start-1 col-end-2 row-start-1 row-end-2 w-full backdrop-blur-2xl;
  }

  .product-info {
    @apply flex flex-col justify-center items-center p-4 bg-transparent;
  }

  .product-name {
    @apply text-white;
    font-size: clamp(0.9rem, 1.8vw, 1.2rem);
  }

  .product-btn {
    @apply flex items-center justify-center bg-gray-700 text-white rounded-xl mt-3 p-2 w-[55%] hover:bg-gray-800 transition-colors duration-500;
    font-size: clamp(0.75rem, 1.3vw, 0.95rem);
    gap: 0.5rem;
  }
}